@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    
  }




  .lgn{
        justify-content: center;
        padding:5px;
        margin: auto;
        margin-top: 3%;
        text-align: center;
        text-decoration: none;
        display: flex;
        color: #2c3e50;
        font-weight: bold;
        font-size: 20;
        background-color:#ecf0f1;
        padding: 20px 10px;
        border: 2px solid #bdc3c7;
        border-radius: 8px;
        display:block;
        width:40%;
        font-family: 'Poppins', sans-serif;

        /* margin: 0px 6px; */
        /* text-shadow: 2px 2px rgba(44, 62, 80,0.3); */
        
  }
.reg{
    justify-content: center;

    margin: auto;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    display: flex;
    color: #2c3e50;
    font-weight: bold;
    font-size: 20;
    background-color:#ecf0f1;
    padding: 8px 10px;
    border: 2px solid #bdc3c7;
    border-radius: 8px;
    display:block;
    width:40%;
    font-family: 'Poppins', sans-serif;
}

  
.frm{
    padding-bottom: 4px;
}

  .pdp{
      border-radius: 50%;
      padding:10px 0px;
  }

.lbl {
    display: inline-block;
}
.imf {
    margin:0;
    padding:0;
}